@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
:root{
    --colorwhite: #c6e7fce7;
    --colorblue: #8ac6e9e7;
    --colorencabezado: #030f1b;
}
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
}
.encabezado{
    background-color: var(--colorencabezado);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    .logo{
        filter: invert(100%);
    }
    .menúItems, .menú1{
        color: white;
    }
    .menú{
        color:aquamarine;
    }
}
.nombreTitulo, .menúItems, .profesion, #sobreMi, #skillTitle, .skills, #hobbiesTitle, #FormaciónTitle, #ExperienciaTitle, .nombreProyectoEncriptador h4, .nombreProyectoAhorcado h4, .nombreProyectoXilofon h4{
    font-weight: bold;
}
.descripción{
    font-style: italic;
}
.enlaceRedes{
    font-weight: bold;
    font-style: italic;
}
.fotoPerfil{
    box-shadow: 10px, 10px, 10px, #555555;
}
.mainUno, .mainTres, .mainCinco, .mainSiete, .mainNueve{
    background-color: var(--colorwhite);
}
.mainDos, .mainCuatro, .mainSeis, .mainOcho{
    background-color: var(--colorblue);
}
.skillsItem{
    box-shadow: 3px 3px 3px#6b9194;
    border-color: #222222;
}

.demoEncriptador,.repositorioAhorcado{
    background-color: var(--colorblue);
    color: --colorwhite;
}
.repositorioEncriptador, .demoAhorcado, .repositorioXilofon, .botonEnviar{
    background-color: var(--colorwhite);
    border-color: var(--colorblue);
    color: var(--colorblue);
}

label{
    background-color: var(--colorwhite);
    color: #555555;
}

.rodapié{
    background-color:  var(--colorencabezado);
    color:white;
    font-weight: bold;
}